{% extends "base.html" %}
{% block content %}
<!-- Page content-->
<div class="container">
  <div>
    <!-- Post content-->
    <div>
      <!-- Title-->
      <h1 class="mt-4">{{ postdiary.title }}</h1>
      <hr />
      <!-- Date and time-->
      <span class="font-weight-bold">{{postdiary.author.first_name}}</span><small>({{postdiary.author}})</small> | 
      {% if postdiary.updated_at %}
      <small>{{ postdiary.updated_at }}에 수정됨</small>
      {% else %}
      <small>{{ postdiary.created_at }}</small>
      {% endif %}
      <hr />
      {% if request.user == postdiary.author %}
      <div class="float-right">
        <a href="{% url 'diarys:modify' postdiary.pk %}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-eraser"></i> 수정</a>
        <a href="{% url 'diarys:delete' postdiary.pk %}" class="delete btn btn-sm btn-outline-danger" onclick="return confirm('게시물을 삭제하시겠습니까?\n삭제한 게시물은 복구할 수 없습니다.')"><i class="fas fa-trash-alt"></i> 삭제</a>
      </div>
      {% endif %}
      <br/> <br/>
      <!-- Preview image-->
  
      {% if postdiary.photo %}
        <img class="img-fluid rounded" src="{{ postdiary.photo.url }}" width="300" height="300" alt="" />
      {% endif %}
      <hr />
      <!-- Post content-->
      <p class="lead">{{ postdiary.content | safe }}</p>
      <hr />
        <!-- Comments form-->
      <div class="card my-4">
        <h5 class="card-header">댓글:</h5>
        <div class="card-body">
          {% if user.is_authenticated %}
            <form method="POST" action="{% url 'diarys:create_comment' postdiary.pk %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="comment">댓글내용</label>
                    <textarea class="form-control" name="content" id="content" rows="3">{{ form.content.value|default_if_none:'' }}</textarea>
                </div>
                <button class="btn btn-outline-primary" type="submit"><i class="far fa-comment-alt"></i> 등록</button>
            </form>
            {% else %}
            <a role="button" class="btn btn-outline-danger btn-block btn-sm" href="{% url 'users:login' %}">로그인 후에 댓글을 등록 할 수 있습니다.</a>
            {% endif %}
        </div>
      </div>
      <!-- Single comment-->
      {% for comment in postdiary.comments.all %}
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="https://via.placeholder.com/50x50" alt="..." />
        <div class="media-body">
          <span class="mt-0">{{ comment.author.first_name }}
            <small class="text-muted"> | </small>
          {% if comment.updated_at %}
            <small class="text-muted">{{comment.updated_at}} 수정됨</small>
          {% else %}
            <small class="text-muted">{{comment.created_at}}</small>
          {% endif %}
          </span><br />
          {{ comment.content }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
