{% if messages %}
    {% for message in messages %}
        <div id="alert" class="container d-flex justify-content-center alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center col-md-5" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}

<script type="text/javascript">
    window.setTimeout(function(){
        $(".alert").fadeTo(500,0).slideUp(500, function(){
            $(this).remove()
        });
    }, 3000 );

</script>

