{% extends 'base.html' %}
{% block page_title %}LogIn{% endblock page_title %}
{% block content %}
    <form class="form-signin" method="POST" action="{% url 'users:login' %}">
      {% csrf_token %}
      <!-- 오류 표시 -->
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field in form %} 
        {% if field.errors %}
        <i class="fas fa-exclamation"></i> <strong>{{ field.label }}</strong>
        {{ field.errors }} 
        {% endif %} 
        {% endfor %}
      </div>
      {% endif %}
      <!-- 오류 표시 -->
      <h1 class="h3 mb-3 font-weight-normal text-center">로그인 하시개</h1>
      <label for="email" class="sr-only">이메일</label>
      <input type="email" id="email" name="email" class="form-control" value="{{ form.email.value | default_if_none:'' }}" placeholder="이메일" required autofocus />
      <label for="password" class="sr-only">비밀번호</label>
      <input type="password" id="password" name="password" class="form-control" value="{{ form.password.value | default_if_none:'' }}" placeholder="비밀번호" required />
      <div class="checkbox mb-3"> 
        <!-- <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label> -->
      </div>
      <button class="btn btn-lg btn-outline-danger btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> 로그인</button>
      {% include 'social_login.html' %}
      <br/>
      <span>아직 회원이 아니냥...</span>
      <a href="{% url 'users:signup' %}" class="btn btn-lg btn-outline-info btn-block"><i class="fas fa-user-plus"></i> 회원가입</a>
    </form>
    {% endblock %}