{% extends 'base.html' %}
{% block page_title %}Password Reset{% endblock page_title %}
{% block content %}
<form class="form-signin" method="POST">
    {% csrf_token %}
    <!-- 오류 표시 -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field in form %} 
    {% if field.errors %}
    <i class="fas fa-exclamation"></i> <strong>{{ field.label }}</strong>
    {{ field.errors }} 
    {% endif %} 
    {% endfor %}
    </div>
    {% endif %}
    <!-- 오류 표시 -->
    <h3>새 비밀번호로 변경</h3>
    <label for="new_password1" class="sr-only">새 비밀번호</label>
    <input type="password" id="new_password1" name="new_password1" class="form-control" value="{{ form.new_password1.value | default_if_none:'' }}" placeholder="새 비밀번호" required autofocus />
    <label for="new_password2" class="sr-only">새 비밀번호 확인</label>
    <input type="password" id="new_password2" name="new_password2" class="form-control" value="{{ form.new_password2.value | default_if_none:'' }}" placeholder="새 비밀번호 확인" required autofocus />
    <button class="btn btn-lg btn-outline-primary btn-block" type="submit"><i class="fas fa-unlock-alt"></i> 변경</button>
</form>
{% endblock %}
    