{% extends 'base.html' %}
{% block page_title %}Password Reset{% endblock page_title %}
{% block content %}
<form class="form-signin" method="POST">
    {% csrf_token %}
    <h1 class="h3 font-weight-normal text-center">비밀번호 초기화</h1>
    <p class="text-center">비밀번호가 기억이 안나냥? <br/> 가입했던 이메일을 입력하면 링크를 보낸다냥.</p>
    <label for="email" class="sr-only">이메일</label>
    <input type="email" id="email" name="email" class="form-control" value="{{ form.email.value | default_if_none:'' }}" placeholder="이메일" required autofocus />
    <button class="btn btn-lg btn-outline-success btn-block" type="submit"><i class="far fa-paper-plane"></i> 보내기</button>
</form>
{% endblock %}
    