{% extends 'base.html' %}
{% block page_title %}Update Password{% endblock page_title %}
{% block content %}
    <form class="form-update" method="POST" enctype="multipart/form-data" action="{% url 'users:update-password' %}">
        {% csrf_token %}
        <!-- 오류 표시 -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %} 
            {% if field.errors %}
            <i class="fas fa-exclamation"></i> <strong>{{ field.label }}</strong>
            {{ field.errors }} 
            {% endif %} 
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류 표시 -->
        <div class="container">
            <h1 class="h3 mb-3 font-weight-normal text-center">비밀번호 변경 하시개</h1>
            <label for="old_password" class="sr-only">비밀번호</label>
            <input type="password" id="old_password" name="old_password" class="form-control mb-3" value="{{ form.old_password.value | default_if_none:'' }}" placeholder="이전 비밀번호" required />
            
            <label for="new_password1" class="sr-only">비밀번호 확인</label>
            <input type="password" id="new_password1" name="new_password1" class="form-control mb-3" value="{{ form.new_password1.value | default_if_none:'' }}" placeholder="새로운 비밀번호" required />

            <label for="new_password2" class="sr-only">비밀번호 확인</label>
            <input type="password" id="new_password2" name="new_password2" class="form-control mb-3" value="{{ form.new_password2.value | default_if_none:'' }}" placeholder="새로운 비밀번호 확인" required />
            <div class="checkbox mb-3">
                <!-- <label>
                <input type="checkbox" value="remember-me" /> Remember me
                </label> -->
            </div>
            <button class="btn btn-lg btn-outline-info btn-block" type="submit"><i class="far fa-save"></i> 비밀번호 변경</button>
        </div>
    </form>
    {% endblock %}
        