{% extends 'base.html' %}
{% block page_title %}Update Password{% endblock page_title %}
{% block content %}
    <!--users:-->
    <form class="form-update" method="POST" enctype="multipart/form-data" action="{% url 'update-password' %}">
        {% csrf_token %}

        <div class="container">
            <h1 class="h3 mb-3 font-weight-normal text-center">비밀번호 변경 하시개</h1>

            <label name="label_old_password" for="{{ form_old_password_for_label }}">{{ form.old_password.label }}</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
            <script type="text/javascript">
                document.getElementsByName('old_password')[0].setAttribute('class', 'form-control is-invalid')
            </script>
            {% for error in form.old_password.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}

            <label name="label_new_password1" for="{{ form_new_password1_for_label }}">{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}

            <label name="label_new_password2" for="{{ form_new_password2_for_label }}">{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            <script type="text/javascript">
                document.getElementsByName('new_password2')[0].setAttribute('class', 'form-control is-invalid')
            </script>
            {% for error in form.new_password2.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}

            <div class="checkbox mb-3">
                <!-- <label>
                <input type="checkbox" value="remember-me" /> Remember me
                </label> -->
            </div>
            <button class="btn btn-lg btn-outline-info btn-block" type="submit"><i class="fas fa-lock"></i> 비밀번호 변경</button>
        </div>
    </form>
    {% endblock %}
        